body{
    background-color: #7B68EE;
}

html{ scroll-behavior: smooth ;

}

.menu, footer{
    background-color: rgba(130, 130, 130, 0.5);
    padding:1.5% ;
    font-family: 'Passion One', cursive;
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.img_logo{
    width: 10%;
}

.img_topo{
    width: 100%;
}

.img_corpo{
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
}

figure{
    text-align: center ;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: #ec2e8d;
    font-size: 3em;
    font-family: 'Rampart One', cursive;
}

h2{
    text-align: center;
    color: black;
    font-size: 1.5em;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Rampart One', cursive;
}

.parag_genero > p{

    font-size: 1em;
    line-height: 1.5;
  }

p{
    font-size: 1.4em;
    color: azure;
    text-align: justify;
    text-indent: 40px;
    font-family: 'PassionOne-Bold';
}


.iten_menu{
    line-height: 1.5em;
    text-align: center;
}

footer p{
    font-size: 1.2em;
    text-align: center;
}

.iten_menu a:visited {
    background-color: #4400ff7a;
}
  
.iten_menu a:hover {
    background-color: rgba(135, 31, 233, 0.452);
}

.escondido{
    display: none;
}

.botao {
      padding: 0.2em;
      height: 40px;
      background-color: #ec2e8d;
      font-size: 25px;
      text-align: center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      font-weight: bolder;   
}

section a: link{
      color: #c9254e;
}

section a:visited {
    color: rgb(107, 26, 161); 
}
  

.direita{
    float:right;
    width: 23%;
    margin-left: 1.4%;
    margin-bottom: 1%;
}
  
.esquerda{
    float: left;
    width: 10%;
    margin-bottom: 1%;
    margin-right: 0%;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
  }
  
audio{
    width: 70%;
}
  
td,th{
    border: 5px inset #550086c2;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
  }

tr:nth-child(even) {
    background-color: #ec2e8da8;
  }
  
td:first-child{
    width: 40%;
  }
  
td:first-child + td{
    width: 60%;
  }

audio::-webkit-media-controls-panel{
    background-color:rgba(128, 128, 128, 0.3) !important;
    }
  

  @font-face {
      font-family: 'PassionOne-Bold';
      src: url(../fonts/PassionOne-Bold.ttf);
  }

.borda_form{
    background-color: rgba(128, 128, 128, 0.3) ;
    padding: 20px;
    border-radius: 25px;
    margin-top: 1%;
    box-sizing: border-box;
  }
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 96%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: vertical;
  }
 

.col-25{
  width: 25%;
  float: left;
  margin-top: 6px;

}

.col-75{
width: 75%;
float: left;
margin-top: 6px;
}
  
  
  
  

  
 
    