body{
    background-color: #7B68EE;
}

html{ scroll-behavior: smooth ;

}

.menu, footer{
    background-color: rgba(130, 130, 130, 0.5);
    padding:1.5% ;
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
}

.img_topo{
    width: 1000px;
}

.img_corpo{
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
}

figure{
    text-align: center ;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: #ec2e8d;
    font-size: 2em;
}

h2{
    text-align: center;
    color: black;
    font-size: 1.5em;
    margin-bottom: 2%;
    margin-top: 2%;
}

p{
    font-size: 1.4em;
    color: azure;
    text-align: justify;
    text-indent: 40px;
}


.iten_menu{
    line-height: 1.5em;
    text-align: center;
}

footer p{
    font-size: 1.2em;
    text-align: center;
}

  .iten_menu a:visited {
    background-color: #4400ff7a;
  }
  
  .iten_menu a:hover {
    background-color: rgba(135, 31, 233, 0.452);
  }

  .escondido{
    display: none;
  }

  .botao{
      padding: 0.2em;

      height: 40px;
      background-color: #ec2e8d;
      font-size: 25px;
      text-align: center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      font-weight: bolder;   
  }

  section a: link{
      color: #c9254e;
  }

  section a:visited {
    color: rgb(107, 26, 161); 
  }
  
  section a:hover{
    color: #f504a5e7;
  }
  
  
  

  
 
    